# WELCOME TO FILETRANSFER 

# Directory to watch
[Directory]
path: /Users/michaelschott/Downloads

# Regex Expression || Path to Copy
[KeyValue]
openSAP: /Users/michaelschott/Downloads_filtered/OpenSAP
docx: /Users/michaelschott/Downloads_filtered/Microsoft365
pdf: /Users/michaelschott/Downloads_filtered/PDFs
(.*?): /Users/michaelschott/Downloads_filtered/Unmatched

